@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


.game-frame iframe
{
  height: 300px;
}

@media (min-width: 640px) {
  .game-frame iframe {
      
      height: 600px;
  }
}

@media (min-width: 1024px) {
  .game-frame iframe {
      
      height: 720px;
  }
}

.bg-psyquiz {
  background-image: url(https://psyquiz.ch/wp-content/uploads/2023/03/hao-wang-pVq6YhmDPtk-unsplash2-scaled.jpg); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}
.bg-escape {
  background-image: url(/images/escape-game_500x600.png); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}


.text-jds
{
  color: #50bd21;
}

.bg-jds
{
  background-color: #50bd21;
}

.text-greyjds
{
  background-color: #585858;
}
.bg-greyjds
{
  background-color: #585858;
}
.text-escapebox-light
{
  color: #387b9a;
}

.bg-escapebox-light
{
  background-color: #387b9a;
}
.text-escapebox-dark
{
  color: #134570;
}

.bg-escapebox-dark
{
  background-color: #134570;
}

.text-escapebox
{
  color: #11416c;
}
.bg-escapebox
{
  background-color: #11416c;
}

@theme {  
  --color-jds-500: #50bd21;
  --color-jdsgray-500: #585858;
}

.sticker {
  position: absolute;
  width: 270px;
  height: 165px;
  overflow: hidden;
  opacity: 1;
  right: -2px;
  top: -2px;
}

.sticker span {
  position: absolute;
  opacity: 1;
  display: block;
  top: 0;
  right: 0;
  opacity: 1;
  transform-origin: 65px 65px;
  transform: rotate(30deg);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  width: 310px;
  text-align: center;
  margin-top: -5px;
  margin-right: -25px;
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}